.web-development {
  width: 100%;
  position: relative;
  top: 0;
  font-family: "Inter", sans-serif;
}

.square-img {
  opacity: 0.05;
  width: 100%;
  margin: 0;
  background-size: cover;
  position: unset;
  z-index: -99;
}
.top-title-one {
  display: flex;
  position: absolute;
  top: 7rem;
  align-items: center;
  gap: 5rem;
  margin: 0rem 5rem;
}
.top-title-one :first-child {
  font-size: 160px;
}

.top-titlle-h1 {
  font-size: 150px;
  position: absolute;
  top: 22rem;
  margin: 2rem 5rem;
}

.top-con-images {
  right: 15rem;
  width: 500px;
}

.top-con-images .arrow-img {
  width: 481px;
  height: 8px;
  position: relative;
  top: 4.5rem;
  z-index: 1;
}
.top-con-images .half-circle-img {
  width: 65px;
  height: 135px;
  z-index: 2;
  position: relative;
  right: 2rem;
}

.second-top-con {
  position: relative;
  bottom: 13rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0rem 5rem;
  gap: 6rem;
  align-items: center;
}

.second-top-con .hero-img {
  width: 650px;
  height: 351px;
}

.second-top-con :first-child p {
  text-align: left;
}
